.row{
    background-color: beige;

}
.footer{
    color: rgb(55, 55, 212);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #33ec71;
}