<div class="row">
    <h1>Estudios Realizados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
               <h1>1° Estudio realizado</h1> - 
               <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Et, adipisci reiciendis 
                perspiciatis voluptatem 
                expedita soluta sunt minus 
                neque reprehenderit fugiat!
                 Dolorum ipsam laborum eligendi 
                 inventore qui numquam quasi.</p>
        </ul>
        <ul>
            <li>
               <h1>2°Estudio realizado</h1> - 
               <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Et, adipisci reiciendis 
                perspiciatis voluptatem 
                expedita soluta sunt minus 
                neque reprehenderit fugiat!
                 Dolorum ipsam laborum eligendi 
                 inventore qui numquam quasi.</p>
        </ul>
        <ul>
            <li>
               <h1>3°Estudio realizado</h1> - 
               <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Et, adipisci reiciendis 
                perspiciatis voluptatem 
                expedita soluta sunt minus 
                neque reprehenderit fugiat!
                 Dolorum ipsam laborum eligendi 
                 inventore qui numquam quasi.</p>
        </ul>
    </div>
</div>
