<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.png"
         class="img-fluid"
         id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mí</h1>
            <p>Estoy dando mis primeros pasos en el desarrollo web y me da mucha satifacción ver lo mucho que he avanzado y pensar el camino que me queda por recorrer para alcanzar mi máximo potencial. Mi mayor deseo, es poder involucrarme en proyectos de los que pueda estar orgullosa y, unirme a un grupo de trabajo del que pueda aprender y al que pueda aportar desde mi conocimiento. Me gustaría que me acompañes en mi progreso como desarrolladora. De mi parte siempre habrá compromiso y ganas de aprender. Trabaja conmigo!</p>
        </span>
    </div>
</div>
