<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-ls-4">
        <circle-progress
  [percent]="95"
  [radius]="100"
  [imageSrc]="'../assets/html-5.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="6"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="90"
[radius]="100"
[imageSrc]="'../assets/css.png'"
[showImage]="true"
[imageHeight]="80"
[imageWidth]="80"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="80"
[radius]="100"
[imageSrc]="'../assets/javascrip.png'"
[showImage]="true"
[imageHeight]="80"
[imageWidth]="80"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="65"
[radius]="100"
[imageSrc]="'../assets/nodo-js.png'"
[showImage]="true"
[imageHeight]="80"
[imageWidth]="80"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="60"
[radius]="100"
[imageSrc]="'../assets/githubb.png'"
[showImage]="true"
[imageHeight]="80"
[imageWidth]="80"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="75"
[radius]="100"
[imageSrc]="'../assets/angular.png'"
[showImage]="true"
[imageHeight]="80"
[imageWidth]="80"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="95"
[radius]="100"
[title]="'Comunicación'"
[titleColor]= "'#78C000'"
[showSubtitle]="false"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="100"
[radius]="100"
[title]="'Compromiso'"
[titleColor]= "'#78C000'"
[showSubtitle]="false"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="90"
[radius]="100"
[title]="'Adaptabilidad'"
[titleColor]= "'#78C000'"
[showSubtitle]="false"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="90"
[radius]="100"
[title]="'Gestion de tiempo'"
[titleColor]= "'#78C000'"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="95"
[radius]="100"
[title]="'Resiliencia'"
[titleColor]= "'#78C000'"
[showSubtitle]="false"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-ls-4">
    <circle-progress
[percent]="95"
[radius]="100"
[title]="'Resolucion'"
[titleColor]= "'#78C000'"
[showSubtitle]="false"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="6"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
</div>
